@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  background-image: url('../imgs/ocean-background.jpg');
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  height: 41%;
  width: 44%;
}

h2 {
  font-weight: 400;
  font-size: 2.2em;
  margin-bottom: 0;
}

h4 {
  font-weight: 500;
  font-size: 14px;
}

.facebook {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

button {
  background-color: #00958a;
  color: white;
  padding: 2px 6px 3px;
  border-width: 0;
  border-radius: 40px;
  width: 135px;
  height: 45px;
  font-weight: 600;
  font-size: 14px;
}

.flexWrap {
  display: flex;
  justify-content: center;
}

.App {
  margin: 40vh;
  width: 35%;
  background-color: rgba(255, 255, 255, .6);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

a,
a:visited {
  color: #00958a;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: #005852;
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

button:hover {
  color: #005852;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.login-section {
  width: 80%;
  margin: 0px auto;
  border-bottom: 1px solid #eee;
}

.login-option {
  letter-spacing: 1px;
}

.active {
  border-bottom: 2px solid #00958a;
}
